html, body {
  height: 100%;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #f5f5f5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 500px;
  padding: 30px;
}

.card {
  height: 550px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center; 
  border: 1px solid #b1aeae;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background-color: #00d1b2;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  background-color: #FFF;
  height: 100%;
}

.hello {
  font-size: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;;
}

label,
button {
  margin-bottom: 5px;
}

input {
  width: 400px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
}


input:valid {
  border: 1px solid green;
}

input:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.invalid-alert {
  color: red;
  display: none;
}

input:invalid:not(:placeholder-shown) + .invalid-alert {
  display: block;
}

button {
  background-color: lightseagreen;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: #f5f5f5;
}

button:hover {
  background-color: #25c7bf;
}

button:active {
  background-color: rgb(29, 151, 145);
}

.form-label {
  font-weight: 700;
  font-size: 16px;
}

.hello,
.field {
  padding-left: 50px;
}